In [1]:
import pandas as pd

import data
import models

In [2]:
train = data.train
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
573,574,1,3,"Kelly, Miss. Mary",female,NaN,0,0,14312,7.7500,NaN,Q
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S
310,311,1,1,"Hays, Miss. Margaret Bechstein",female,24.0,0,0,11767,83.1583,C54,C
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.0,0,0,S.O.C. 14879,73.5000,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
705,706,0,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
795,796,0,2,"Otter, Mr. Richard",male,39.0,0,0,28213,13.0000,NaN,S
638,639,0,3,"Panula, Mrs. Juha (Maria Emilia Ojala)",female,41.0,0,5,3101295,39.6875,NaN,S
775,776,0,3,"Myhrman, Mr. Pehr Fabian Oliver Malkolm",male,18.0,0,0,347078,7.7500,NaN,S

In [3]:
train.Survived.value_counts()

0    437
1    275
Name: Survived, dtype: int64

In [4]:
def survival_rate(predicate):
    return len(train[predicate & train.Survived]) / len(train[predicate])

In [5]:
survival_rate(train.Sex == "male")

0.19654427645788336

In [6]:
survival_rate(train.Sex == "female")

0.7389558232931727

In [7]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            143
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          547
Embarked         2
dtype: int64

In [8]:
survival_rate((train.Pclass == 1) & train.Cabin.isna())

0.4838709677419355

In [9]:
survival_rate((train.Pclass == 1) & ~train.Cabin.isna())

0.6338028169014085

In [10]:
train.Pclass.value_counts().sort_index()

1    173
2    143
3    396
Name: Pclass, dtype: int64

In [11]:
train.Embarked.value_counts().sort_index()

C    135
Q     64
S    511
Name: Embarked, dtype: int64

In [12]:
train.Age.mean()

30.004551845342707

In [13]:
train.Age.median()

28.5

In [14]:
models.standard_prep().fit_transform(train)

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
573,0.820259,-0.091871,-0.472465,-0.459487,-0.496408,1.0,0.0,0.0,1.0,0.0
840,0.820259,-0.741338,-0.472465,-0.459487,-0.492825,0.0,1.0,0.0,0.0,1.0
310,-1.568388,-0.435707,-0.472465,-0.459487,1.047694,1.0,0.0,1.0,0.0,0.0
72,-0.374065,-0.664930,-0.472465,-0.459487,0.849925,0.0,1.0,0.0,0.0,1.0
37,0.820259,-0.664930,-0.472465,-0.459487,-0.490265,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
705,-0.374065,0.710412,-0.472465,-0.459487,-0.122711,0.0,1.0,0.0,0.0,1.0
18,0.820259,0.099149,0.459377,-0.459487,-0.286524,1.0,0.0,0.0,0.0,1.0
795,-0.374065,0.710412,-0.472465,-0.459487,-0.388906,0.0,1.0,0.0,0.0,1.0
638,0.820259,0.863228,-0.472465,5.621454,0.157562,1.0,0.0,0.0,0.0,1.0
775,0.820259,-0.894154,-0.472465,-0.459487,-0.496408,0.0,1.0,0.0,0.0,1.0